ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #514560;
  height: 80px;
  position: sticky;
  top: 0;
  border-radius: 10px 10px 0 0;

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}